iot/node-red/flows.json
[{"id":"9b5b5f84.81287","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"5ab462d8.2bd9ac","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"62211a56.a64e64","type":"mqtt-broker","z":"","name":"","broker":"vpc1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c8693a.bf0a57","type":"mqtt-broker","z":null,"name":"mqtt.eclipse.org","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2bc6db8.381d8","type":"inject","z":"9b5b5f84.81287","name":"taza","topic":"ara/ur/es","payload":"ggggggggggggg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["1a2a2a9e.790bc5"]]},{"id":"afcfe0fe.d2c49","type":"debug","z":"9b5b5f84.81287","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":120,"wires":[]},{"id":"d0e80df6.87f62","type":"mqtt in","z":"9b5b5f84.81287","name":"mqtt sub","topic":"ara/ur/es","qos":"0","datatype":"auto","broker":"8c8693a.bf0a57","x":680,"y":120,"wires":[["afcfe0fe.d2c49"]]},{"id":"1a2a2a9e.790bc5","type":"mqtt out","z":"9b5b5f84.81287","name":"mqtt pub","topic":"ara/ur/es","qos":"0","retain":"","broker":"8c8693a.bf0a57","x":400,"y":120,"wires":[]},{"id":"297c0216.e6b6be","type":"mqtt out","z":"9b5b5f84.81287","name":"mqtt pub","topic":"ara/ur/date","qos":"0","retain":"","broker":"8c8693a.bf0a57","x":420,"y":260,"wires":[]},{"id":"b546fd77.cafe3","type":"inject","z":"9b5b5f84.81287","name":"","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["964c6b0d.e150d8"]]},{"id":"964c6b0d.e150d8","type":"exec","z":"9b5b5f84.81287","command":"echo %time%","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"time","x":250,"y":280,"wires":[["297c0216.e6b6be"],[],[]]},{"id":"bb4d4b40.14a4f8","type":"inject","z":"5ab462d8.2bd9ac","name":"taza","topic":"ara/ur/es","payload":"ggggggggggggg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["1268f22.cd9520e"]]},{"id":"9dbc80f8.edf7","type":"debug","z":"5ab462d8.2bd9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"f4f4e54.6dde418","type":"mqtt in","z":"5ab462d8.2bd9ac","name":"mqtt sub","topic":"ara/ur/es","qos":"0","datatype":"auto","broker":"8c8693a.bf0a57","x":640,"y":120,"wires":[["9dbc80f8.edf7"]]},{"id":"2760156b.ffc55a","type":"mqtt out","z":"5ab462d8.2bd9ac","name":"mqtt pub","topic":"ara/ur/es","qos":"0","retain":"","broker":"8c8693a.bf0a57","x":400,"y":160,"wires":[]},{"id":"1268f22.cd9520e","type":"trigger","z":"5ab462d8.2bd9ac","op1":" ","op2":" ","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":140,"y":180,"wires":[["baf47ccb.e366f"]]},{"id":"baf47ccb.e366f","type":"exec","z":"5ab462d8.2bd9ac","command":"echo %time%","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"time","x":210,"y":260,"wires":[["2760156b.ffc55a"],[],[]]}]