iot/flows.json
[{"id":"9b5b5f84.81287","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c2bc6db8.381d8","type":"inject","z":"9b5b5f84.81287","name":"taza","topic":"ara/ur/es","payload":"baarev axpers","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["1a2a2a9e.790bc5"]]},{"id":"afcfe0fe.d2c49","type":"debug","z":"9b5b5f84.81287","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":300,"wires":[]},{"id":"d0e80df6.87f62","type":"mqtt in","z":"9b5b5f84.81287","name":"mqtt sub","topic":"ara/ur/es","qos":"0","datatype":"auto","broker":"62211a56.a64e64","x":200,"y":280,"wires":[["afcfe0fe.d2c49"]]},{"id":"1a2a2a9e.790bc5","type":"mqtt out","z":"9b5b5f84.81287","name":"mqtt pub","topic":"ara/ur/es","qos":"0","retain":"","broker":"62211a56.a64e64","x":400,"y":120,"wires":[]},{"id":"62211a56.a64e64","type":"mqtt-broker","z":"","name":"","broker":"vpc1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]